<!DOCTYPE html>
<html>
<head>
    <title>Grad Cafe SQL Queries</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Grad Cafe SQL Queries</h1>
        {% for qa in questions_and_answers %}
        <div class="qa-card">
            <div class="question">{{ qa.question }}</div>
            <div class="answer">
                {# Check if the answer is a dictionary (specifically for average_gpa_and_gre) #}
                {% if qa.answer is mapping %}
                    <ul>
                        <li>GPA: {{ qa.answer.gpa|round(2) }}</li>
                        <li>GRE Total: {{ qa.answer.gre_total|round(2) }}</li>
                        <li>GRE Verbal: {{ qa.answer.gre_verbal|round(2) }}</li>
                        <li>GRE Analytical Writing: {{ qa.answer.gre_analytical_writing|round(2) }}</li>
                    </ul>
                {% else %}
                    {# For all other answers, display them as is #}
                    {{ qa.answer }}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>